{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Closing Price to the Days Range</h1>
            <h3>For {{ start_date }} to {{ end_date }} For Top {{ top_x }} Daily Results</h3>
            <h6>In general, of the total price range of the day (high - low) where do stocks on the gainer scans close?</h6>
            <h6>(100 = closed at the high of day, 0 = closed at the low of day)</h6>
            <div class="row" style="padding: 1rem 1rem;">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Lookback Period
                  </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_week'|slugify %}">Last Week</a></li>
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_two_weeks'|slugify %}">Last Two Weeks</a></li>
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_month'|slugify %}">Last Month</a></li>
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_three_months'|slugify %}">Last Three Months</a></li>
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_six_months'|slugify %}">Last Six Months</a></li>
                      <li><a class="dropdown-item" href="{% url 'close_to_range_stats' 'last_year'|slugify %}">Last Year</a></li>
                  </ul>
                </div>
                {% if date_msg != None %}
                    <div class="row" style="padding: 1rem 1rem; color: red;">
                        <strong>{{ date_msg }}</strong>
                    </div>
                {% endif %}
            </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Close to Day Range - Cluster Average
                            </div>
                            <div class="card-body" id="myAreaChart" width="100%" height="40">
                            {{ cluster_avg_chart|safe }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Close to Day Range - Average
                            </div>
                            <div class="card-body" id="myAreaChart" width="100%" height="40">
                            {{ avg_chart|safe }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Close to Day Range - Median
                            </div>
                            <div class="card-body" id="myAreaChart" width="100%" height="40">
                            {{ med_chart|safe }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Close to Day Range - Standard Deviation
                            </div>
                            <div class="card-body" id="myAreaChart" width="100%" height="40">
                            {{ std_dev_chart|safe }}
                            </div>
                        </div>
                    </div>

                </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Top Results
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Cluster Average</th>
                            <th scope="col">Average</th>
                            <th scope="col">Median</th>
                            <th scope="col">Standard Deviation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in stats %}
                            <tr>
                                <td>{{ t.datetime }}</td>
                                <td>{{ t.close_to_range_cluster_avg }}</td>
                                <td>{{ t.close_to_range_average }}</td>
                                <td>{{ t.close_to_range_median }}</td>
                                <td>{{ t.close_to_range_std }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
            </div>
        </div>
    </footer>
</div>

{% endblock content %}