{% extends 'base.html' %}

{% block content %}
{% load static %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{ stat_name }} Stats</h1>
            <h3>For {{ start_date }} to {{ end_date }} For Top {{ top_x }} Daily Results</h3>
            <h6>What general percentage of the float was short for historical screen results?</h6>
            <div class="row" style="padding: 1rem 1rem;">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Lookback Period
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_week'|slugify %}">Last Week</a></li>
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_two_weeks'|slugify %}">Last Two Weeks</a></li>
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_month'|slugify %}">Last Month</a></li>
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_three_months'|slugify %}">Last Three Months</a></li>
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_six_months'|slugify %}">Last Six Months</a></li>
                      <li><a class="dropdown-item" href="{% url 'short_perc_float' 'last_year'|slugify %}">Last Year</a></li>
                  </ul>
                </div>
                {% if date_msg != None %}
                    <div class="row" style="padding: 1rem 1rem; color: red;">
                        <strong>{{ date_msg }}</strong>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <!--  CHARTS -->
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            {{ stat_name }} - Cluster Average
                        </div>
                        <div class="card-body" id="myAreaChart" width="100%" height="40">
                        {{ cluster_avg_chart|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            {{ stat_name }} - Average
                        </div>
                        <div class="card-body" id="myAreaChart" width="100%" height="40">
                        {{ avg_chart|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            {{ stat_name }} - Median
                        </div>
                        <div class="card-body" id="myAreaChart" width="100%" height="40">
                        {{ med_chart|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            {{ stat_name }} - Standard Deviation
                        </div>
                        <div class="card-body" id="myAreaChart" width="100%" height="40">
                        {{ std_dev_chart|safe }}
                        </div>
                    </div>
                </div>


                <!--  STATS LIST -->
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Top Results
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Cluster Average</th>
                                <th scope="col">Average</th>
                                <th scope="col">Median</th>
                                <th scope="col">Standard Deviation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in stats %}
                                <tr>
                                    <td>{{ t.datetime }}</td>
                                    <td>{{ t.short_perc_float_cluster_avg }}</td>
                                    <td>{{ t.short_perc_float_average }}</td>
                                    <td>{{ t.short_perc_float_median }}</td>
                                    <td>{{ t.short_perc_float_std }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
            </div>
        </div>
    </footer>
</div>

{% endblock content %}